body {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    box-sizing: border-box;
    margin: 0;
}

div {
    color: aliceblue;
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;

}

.header,
.footer {
    flex-basis: 100%;
    height: 100px;
    line-height: 100px;
}

.left-aside,
.right-aside {
    flex-basis: 20%;
}

.left-aside,
.center-aside,
.right-aside {
    height: 719px;
}

.header {
    background-color: rgb(255, 38, 0)
}

.left-aside {
    background-color: green;
}

.center-aside {
    flex-basis: 60%;
    background-color: rgb(0, 224, 224);
}

.right-aside {
    background-color: pink;
}

.footer {
    background-color: blueviolet;

}

@media (min-width:768px) and (max-width:992px) {
    body {
        flex-wrap: wrap;
    }

    div {
        font-size: 1.8em;
    }

    .header {
        order: 1;
    }

    .left-aside {
        flex-basis: 100%;
        height: 360px;
        order: 4;
    }

    .center-aside {
        flex-basis: 80%;
        height: 359px;
        order: 2;
    }

    .right-aside {
        height: 359px;
        order: 3;
    }

    .footer {
        order: 5;
    }
}

@media (max-width:768px) {

    div {
        font-size: 1.5em;
    }

    .center-aside {
        font-size: 1.2em;
    }

    .center-aside,
    .left-aside,
    .right-aside {
        flex-basis: 100%;
        height: 239.7px;
    }

    .header {
        order: 1;
    }

    .left-aside {
        order: 3;
    }

    .center-aside {
        order: 2;
    }

    .right-aside {
        order: 4;
    }

    .footer {
        order: 5;
    }


}